@keyframes scale { 
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes apps { 
    from {
        width: 0%;
    }
    to {
        width: 85%;
    }
}
@keyframes data { 
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
@keyframes creativity { 
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}
@keyframes skills { 
    from {
        width: 0%;
    }
    to {
        width: 95%;
    }
}