@media screen and (max-width: 1360px) {
    .promo {
        .container {
            padding: 0 50px;
        }
    }
} 
@media screen and (max-width: 1290px) {
    .promo {
        .container {
            padding: 0 80px;
        }
    }
} 
@media screen and (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
    .promo {
        .container {
            padding: 0 120px;
        }
    }
    .container {
        padding: 0;
        max-width: 960px;
    }
    .about {
        &__photo {
            margin-right: 50px;
            &_desktop {
                width: 100%;
            }
        }
        &__skills {
            flex-direction: column;
            margin-top: 10px;
            &-item {
                margin-top: 20px;
                &:nth-child(2) {
                    .about__skills-item__img {
                        margin-right: 32px;
                    }
                }
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
    }
    .experience {
        &__wrapper {
            justify-content: space-between;
            padding-left: 80px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 270px);
            grid-auto-rows: 270px;
        }
        .scale__wrapper {
            padding: 0 20px;
            justify-content: space-around;
        }
    }
    .examples {
        &__wrapper {
            grid-template: repeat(2, 240px) / repeat(4, 240px);
        }
    }
    .feedback {
        padding: 105px 0 92px;
        &__photo {
            margin-right: 45px;
        }
        .contacts-form {
            &__input {
                input {
                    width: 236px;
                    &:last-child {
                        width: 100%;
                    }
                }
            }
            textarea {
                width: 497px;
            }
        }
    }
    
}
@media screen and (max-width: 992px) {
    .promo {
        .hamburger {
            top: 25px;
        }
    }
    .about {
        &__photo {
            margin-right: 40px;
        }
    }
    .container {
        max-width: 720px;
    }
    .experience {
        &__wrapper {
            padding: 0;
            flex-direction: column;
            align-items: center;
        }
        &-item {
            &__title {
                text-align: center;
                &::before {
                    left: 54px;
                }
                &::after {
                    left: -110px;
                }
            }
            &__content {
                margin-left: 106px;
            }
        }
    }
    .skills {
        &__wrapper {
            justify-content: space-evenly;
            // grid-template: repeat(4, 270px) / repeat(2, 270px);
        }
        .scale__wrapper {
            justify-content: center;
            .scale-item {
                width: 500px;
                margin-bottom: 40px;
            }
        }
    }
    .price {
        padding-top: 30px;
        &__wrapper {
            display: block;
            padding: 0 0 0 27px;
            margin: 60px auto 0;
        }
        &-item {
            max-width: 100%;
        }
    }
    .examples {
        &__wrapper {
            grid-template: repeat(2, 200px) / repeat(4, minmax(180px, 220px));
        }
    }
    .feedback {
        flex-direction: column;
        &__wrapper {
            justify-content: space-around;
            .feedback__photo {
                margin-right: 35px;
            }
            .feedback__contacts {
                .title {
                    line-height: 45px;
                    &_small {
                        line-height: 30px;
                        margin-bottom: 10px;
                    }
                }
            }
            .contacts-form {
                flex-wrap: nowrap;
                flex-direction: column;
                &__input {
                    input {
                        margin-right: 0;
                        display: block;
                        width: 285px;
                        margin-bottom: 20px;
                    }
                }
                &__textarea {
                    textarea {
                        display: block;
                        margin-top: 0;
                        width: 285px;
                        height: 116px;
                    }
                    label {
                        top: -10px;
                    }
                }
                .feedback__triggers {
                    flex-direction: column;
                    .feedback__policy {
                        max-width: 200px;
                        margin: 20px 0 0 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 600px;
    }
    .promo {
        background: url('../img/bg/background.jpg') 57% / cover no-repeat;
        .hamburger:hover span {
            background-color: #151812;
        }
        .container {
            padding: 0 30px;
        }
        &__links {
            display: none;
        }
        &__header {
            font-size: 36px;
            line-height: 46px;
        }
        .button:hover {
            border-radius: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
        &__title__link:hover {
            text-decoration: none;
        }
        .menu {
            &__close:hover {
                transform: none;
            }
            &__link:hover::before {
                background-color: $main-color;
            }
        }
    }
    .about, .experience, .skills, .examples  {
        padding-top: 75px;
    }
    .examples {
        &__wrapper {
            grid-template: repeat(3, 260px) / repeat(auto-fit, 260px);
            gap: 10px;
            .examples-item {
                &_desktop {
                    display: none;
                }
                &_mobile {
                    display: block;
                }
                &:nth-child(6) {
                    grid-row: auto;
                    grid-column: auto;
                }
                &:hover {
                    transform: none;
                }
            }
        }     
    }
    .price {
        &__wrapper {
            display: block;
            padding: 0 50px;
        }
        &-item {
            max-width: 100%;
        }
    }
    .feedback {
        .title {
            text-align: center;
        }
        .title_small::before {
            left: 50%;
            transform: translateX(-50%);
        }
        .divider {
            margin: 0 auto;
        }
        &__photo {
            display: none;
        }
        &__contacts {
            text-align: center;
        }
        &__wrapper {
            justify-content: center;
            .contacts-form {
                flex-wrap: nowrap;
                flex-direction: column;
                &__input {
                    margin: 0 auto;
                    input {
                        width: 400px;
                    }
                }
                &__textarea {
                    margin: 0 auto;
                    textarea {
                        width: 400px;
                    }
                }
            }
        }
        
        &__triggers {
            align-items: center;
        }
        &__policy {
            span {
                margin-left: 0; 
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .container {
        padding: 0 10px;
        width: 100%;
    }
    .title {
        font-size: 24px;
        line-height: 38px;
        padding-top: 10px;
        &_small {
            font-size: 16px;
        }
    }
    .divider {
        margin-top: 15px;
    }
    .promo {
        background: url('../img/bg/Background_mobile.jpg') center center / cover no-repeat;
        .container {
            padding: 0 10px;
        }
        .hamburger {
            top: 20px;
            right: 20px;
        }
        .menu {
            &__block {
                width: 80%;
            }
            &__list {
                padding-left: 15px;
            }
        }
        &__header { 
            font-size: 26px;
            line-height: 39px;
        }
    }
    .about {
        padding-top: 40px;
        .title {
            &_small {
                margin-top: 46px;
            }
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__photo {
            margin-right: 0;
        } 
        &__skills {
            margin-top: 0;
            &-item__text {
                max-width: 220px;
            }
        }
    }
    .experience {
        padding-top: 40px;
        &__wrapper {
            align-items: flex-start;
        }
        &-item {
            &__title {
                text-align: left;
                margin-left: 58px;
                &::before {
                    left: -52px;
                }
                &::after {
                    left: -216px;
                }
            }
            &:first-child .experience-item__content:nth-child(2) .experience-item__content__header {
                padding-left: 15px;
            }
            &__content {
                margin: 0 0 20px 58px;
                max-width: 250px;
            }
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            // grid-template: repeat(7,270px) / repeat(1,270px);
        }
        .scale__wrapper {
            margin-top: 48px;
        }
    }
    .examples {
        padding-top: 0;
        &__wrapper {
            grid-template: repeat(6,280px) / repeat(1,280px);
            gap: 20px;
        }
    }
    .price {
        &__wrapper {
            padding: 0 0 0 25px;
        }
    }
    .feedback {
        padding: 40px 0 50px;
        &__wrapper {
            display: block;
        }
        &__contacts {
            text-align: left;
            .title {
                text-align: left;
                &_small::before {
                    left: -14px;
                    transform: none;
                    top: 7px;
                }
            }
            .divider {
                margin: 0;
            }
        }
        .contacts-form {
            &__input {
                margin: 0 auto;
                input {
                    width: 300px;
                }
            }
            &__textarea {
                margin: 0 auto;
                textarea {
                    width: 300px;
                }
            }
        }
        &__triggers {
            flex-direction: column-reverse;
        }
        &__policy {
            span {
                margin-left: 8px; 
            }
        }
    }
}
